.Calendar {
  flex: 1;
  border-left: 1px solid var(--border-color);
  height: 100%;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #ccc transparent;
}

.Calendar::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.Calendar::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
